{% macro active(activePage='home') %}
	<nav class="navbar level" role="navigation" aria-label="main navigation">

		<a class="logo level-left" href="/">
			<img src="img/logo.svg" alt="A lockup of my name" width="100%" height="100%">
		</a>

		<a class="level-right button is-hidden-tablet  nav-burger-custom">MENU
		</a>

	    <ul class="nav-menu-custom level has-text-centered hidden">
		    <li>
		    	<a class="level-item navbar-item {%if activePage == 'contact' %} active {% endif %}" href="/contact.html">About</a>
		    </li>
			<li>
				<a class="level-item navbar-item {%if activePage == 'Case-Studies' %} active {% endif %}" href="#">Case Studies</a>
			</li>
			<li>
				<a class="level-item navbar-end navbar-item {%if activePage == 'hacks' %} active {% endif %}" href="/playground.html">Playground</a>
			</li>
			<li>{%include '00-atoms/a-button.html' %}</li>
	    </ul>

	</nav>
{% endmacro %}
